@using Vitalis.Shared
@using Vitalis.Pages
@using Vitalis.Components
@using Vitalis.Shared.Services
@inject ThemeService ThemeService

<MudThemeProvider Theme="@ThemeService.CurrentTheme"/>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(VitalisLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(VitalisLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    protected override void OnInitialized()
    {
        // Subscribe to the theme changed event
        ThemeService.ThemeChanged += OnThemeChanged;
    }

    private void OnThemeChanged()
    {
        // Update the theme provider
        InvokeAsync(StateHasChanged);
    }
}
